@page "/admin-dashboard"
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inherits LayoutComponentBase
@using CCPProject.Components.Layout
<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from dreamguys.co.in/demo/doccure/admin/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 30 Nov 2019 04:12:20 GMT -->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title>Doccure - Dashboard</title>

	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="assets1/img/favicon.png">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="assets1/css/bootstrap.min.css">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="assets1/css/font-awesome.min.css">

	<!-- Feathericon CSS -->
	<link rel="stylesheet" href="assets1/css/feathericon.min.css">

	<link rel="stylesheet" href="assets1/plugins/morris/morris.css">

	<!-- Main CSS -->
	<link rel="stylesheet" href="assets1/css/style.css">

	<!--[if lt IE 9]>
		<script src="assets/js/html5shiv.min.js"></script>
		<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>
<body>

		<!-- Sidebar -->
		<div class="sidebar" id="sidebar">
			<div class="sidebar-inner slimscroll">
				<div id="sidebar-menu" class="sidebar-menu">
					<ul>
						<li class="menu-title">
							<span>Main</span>
						</li>
						<li>
							<a href="index.html"><i class="fe fe-home"></i> <span>Dashboard</span></a>
						</li>
						<li>
							<a href="appointment-list.html"><i class="fe fe-layout"></i> <span>Appointments</span></a>
						</li>
						<li>
							<a href="/admin/add-expert"><i class="fe fe-users"></i> <span>Add expert</span></a>
						</li>
						<li>
						<a href="/admin/user-management"><i class="fe fe-user-plus"></i> <span>User Manager</span></a>
						</li>
						<li>
							<a href="patient-list.html"><i class="fe fe-user"></i> <span>Patients</span></a>
						</li>
						<li>
							<a href="reviews.html"><i class="fe fe-star-o"></i> <span>Reviews</span></a>
						</li>
						<li>
							<a href="transactions-list.html"><i class="fe fe-activity"></i> <span>Transactions</span></a>
						</li>
						<li>
							<a href="settings.html"><i class="fe fe-vector"></i> <span>Settings</span></a>
						</li>
						<li class="submenu">
							<a href="#"><i class="fe fe-document"></i> <span> Reports</span> <span class="menu-arrow"></span></a>
							<ul style="display: none;">
								<li><a href="invoice-report.html">Invoice Reports</a></li>
							</ul>
						</li>
						<li>
                        <a @onclick="Logout" href="#"><i class="fe fe-power"></i> <span>Logout</span></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /Sidebar -->
		<!-- Page Wrapper -->
		<div class="page-wrapper">

			<div class="content container-fluid">

				<!-- Page Header -->
				<div class="page-header">
					<div class="row">
						<div class="col-sm-12">
							<h3 class="page-title">Welcome Admin!</h3>
							<ul class="breadcrumb">
								<li class="breadcrumb-item active">Dashboard</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- /Page Header -->

				<div class="content">
					@Body
							
				</div>

			</div>
		</div>
		<!-- /Page Wrapper -->

	<!-- jQuery -->
	<script src="assets1/js/jquery-3.2.1.min.js"></script>

	<!-- Bootstrap Core JS -->
	<script src="assets1/js/popper.min.js"></script>
	<script src="assets1/js/bootstrap.min.js"></script>

	<!-- Slimscroll JS -->
	<script src="assets1/plugins/slimscroll/jquery.slimscroll.min.js"></script>

	<script src="assets1/plugins/raphael/raphael.min.js"></script>
	<script src="assets1/plugins/morris/morris.min.js"></script>
	<script src="assets1/js/chart.morris.js"></script>

	<!-- Custom JS -->
	<script src="assets1/js/script.js"></script>

</body>

<!-- Mirrored from dreamguys.co.in/demo/doccure/admin/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 30 Nov 2019 04:12:34 GMT -->
</html>
@code{
	private async Task Logout()
	{
		NavigationManager.NavigateTo("/signout", forceLoad: true);
	}
}