@page "/bmichart"
@rendermode InteractiveServer
@using CCP.Repositori.Entities
@using CCP.Repositori.ResultData
@using MudBlazor

<div>
    <MudChart ChartType="ChartType.Line" ChartSeries="@Series" XAxisLabels="@XAxisLabels" Width="100%" Height="350" ChartOptions="options"></MudChart>
</div>

@code {
    private ChartOptions options = new ChartOptions();
    public List<ChartSeries> Series = new List<ChartSeries>();
    public string[] XAxisLabels;

    protected override void OnInitialized()
    {
        options.InterpolationOption = InterpolationOption.NaturalSpline;
        options.YAxisFormat = "F2";

        // Prepare data for the chart
        var maleHeightData = MeasurementStandards.MaleHeightStandard.Values.Select(h => (double)h).ToArray();
        var femaleHeightData = MeasurementStandards.FemaleHeightStandard.Values.Select(h => (double)h).ToArray();
        var ageLabels = MeasurementStandards.MaleHeightStandard.Keys.Select(k => k.ToString()).ToArray();

        Series = new List<ChartSeries>
        {
            new ChartSeries { Name = "Male Height", Data = maleHeightData },
            new ChartSeries { Name = "Female Height", Data = femaleHeightData }
        };

        XAxisLabels = ageLabels;
    }
}
